//- layout.pug
html
  head
    title National Dance Academy
    block scripts
    block style 
      
  body
    nav#navbar
      ul
        div#logo
            img(src="/static/image/dancer_PNG58.png")
            |NDA
        li #[a(href="/") Home] 
        li #[a(href="/") About ]
        li #[a(href="/contact") Contact US] 
        li #[a(href="/") Services ]
        li #[a(href="/") Class Info] 
    block content
 

    
    
      